.align-points div {
	display: inline-block;
	text-align: left;
}

.gp-logo div {
	top: 2px;
	left: 2px;
}

.reveal section img {
	background: transparent;
	border: 0;
	box-shadow: none;
}

.subtitle span {
	color: gray;
	font-size: 0.6em;
}
