.align-points {
	display: inline-block;
	text-align: left;
}

.center-image {
	margin: auto auto;
}

.gp-logo div {
	top: 2px;
	left: 2px;
}

.jsfiddle {
	height: 500px;
	width: 100%;
}

.reveal section img {
	background: transparent;
	border: 0;
	box-shadow: none;
}

.subtitle {
	color: gray;
	font-size: 0.6em;
}
